# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android-specific files
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/app/src/main/assets/flutter_assets/
/android/local.properties
/android/key.properties

# iOS/macOS-specific files
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_assets/
/ios/Runner.xcworkspace/
/ios/Pods/
/macos/Flutter/ephemeral/
/macos/.symlinks/
/macos/Pods/
/macos/Runner.xcworkspace/

# Windows/Linux-specific files
/windows/CMakeCache.txt
/windows/CMakeFiles/
/windows/Flutter/ephemeral/
/windows/Runner.sln
/windows/Runner/GeneratedPluginRegistrant.*
/linux/CMakeCache.txt
/linux/CMakeFiles/
/linux/Flutter/ephemeral/
/linux/runner/

# Web build artifacts
/web/.dart_tool/
/web/flutter_build/
web/main.dart.js
web/main.dart.js.map
web/main.dart.js.deps

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# User-specific files
*.bak
*.swp
*.swo
*.swn